<div class="buttons">
  <a class="button"
     title="Another timeghost with this event"
     href="/p/{{timeghost.key_url('middle')}}">New</a>
  <a class="button" 
     title="Worst-case scendario for this event"
     href="/sw/{{timeghost.key_url('middle')}}">Worst</a>
  <a class="button"
     title="Timeghost your birthday"
     href="/b">Bday</a>
  <a class="button"
     title="Pick your perfect timeghost"
     href="/sb">Pick</a>
  <!--
  <a class="button" href="/sw">Specific Worst</a>
  <a class="button" href="/add">Add</a>
  -->
</div>
