{% extends 'base.html' %}

{% block content_block %}
  <form action="/add" method="POST">
    <fieldset>
      <legend>Add a Timeghost Event</legend>
      <label>Date in YYYY-MM-DD, YYYY-MM, or YYYY format:
        <input type="date" name="date_str" placeholder="1943-12-30"/>
      </label>
      <br/>
      <label>
        Text description of event:
        <input type="text" name="description" placeholder="Something happened"/>
      </label>
      <br/>
      <button class="button" type="submit" name="add">Add Event</button>
    </fieldset>
  </form>
{% endblock %}
