<div class="buttons">
  <a class="button"
     title="Random"
     href="/">Yikes</a>
  {% if timeghost %}
    <a class="button"
       title="Another timeghost with this event"
       href="/p/{{timeghost.key_url('middle')}}">Another</a>
    <a class="button" 
       title="Worst-case scenario for this event"
       href="/sw/{{timeghost.key_url('middle')}}">Stop</a>
  {% endif %}
  <a class="button"
     title="Timeghost your birthday"
     href="/b">Cake</a>
  <a class="button"
     title="Pick your perfect timeghost"
     href="/sb">Pick</a>
  <!--
  <a class="button" href="/sw">Specific Worst</a>
  <a class="button" href="/add">Add</a>
  -->
</div>
