{% extends 'base.html' %}

{% block content_block %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Short URL</th>
        <th>Created On</th>
        <th>Created By</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
        <tr>
          <td>{{event.date_ymd}}</td>
          <td>{{event.description}}</td>
          <td>{{event.short_url}}</td>
          <td>{{event.created_on}}</td>
          <td>{{event.created_by}}</td>
          <td>{{event.approved}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
