<meta charset="utf-8"/>
<title>Timeghost</title>

<meta name="author" content="Kester Allen @kesterallen"/>
<link rel="shortcut icon" href="/img/timeghost.png" type="image/x-icon">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;1,500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/fast_style.css">

<base target="_blank">

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
