<html>
<head>
    <meta charset="utf-8"/>
    {% include 'parts/setup_header.html' %}
</head>
<body>
    {% include 'parts/navbar.html' %}

    <div class="row">
        <div class="small-12 large-3 columns"><a href="/"><img src="/img/timeghost.png"/></a></div>
        <div class="small-12 large-9 columns"><h1>Encouraging Notes From Our Beloved Readers</h1></div>
    </div>

    <div class="row">
        <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/timeghost_app">@timeghost_app</a> DAMN YOU!!!</p>&mdash; Denise Simard (@LeaveIttoDee) <a href="https://twitter.com/LeaveIttoDee/status/751230888311074821">July 8, 2016</a></blockquote>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Argh. <a href="https://t.co/n2o1nbGtTD">https://t.co/n2o1nbGtTD</a></p>&mdash; Sven Aas (@SvenAas) <a href="https://twitter.com/SvenAas/status/742793832882962432">June 14, 2016</a></blockquote>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="und" dir="ltr"><a href="https://twitter.com/timeghost_app">@timeghost_app</a> OMG.</p>&mdash; (((Ceil))) (@askceil) <a href="https://twitter.com/askceil/status/742526345767440384">June 14, 2016</a></blockquote>
        <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/timeghost_app">@timeghost_app</a> I die a little each time you post.</p>&mdash; Denise Simard (@LeaveIttoDee) <a href="https://twitter.com/LeaveIttoDee/status/742256720047529984">June 13, 2016</a></blockquote>
        <blockquote><img src="/img/rave3.jpg" width="50%"/></blockquote>
        <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/timeghost_app">@timeghost_app</a> <a href="https://twitter.com/kesterallen">@kesterallen</a> This is terrible please stop I can feel myself dying.</p>&mdash; Ceil (@askceil) <a href="https://twitter.com/askceil/status/651471489091411968">October 6, 2015</a></blockquote>
        <blockquote><img src="/img/rave2.jpg"/></blockquote>
        <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/kesterallen">@kesterallen</a> YOU ARE FREAKING ME OUT</p>&mdash; Ethan Hein (@ethanhein) <a href="https://twitter.com/ethanhein/status/635192936444071937">August 22, 2015</a></blockquote>
        <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/timeghost_app">@timeghost_app</a> Oh God.</p>&mdash; Thundercloud Fatale (@CloudLilac) <a href="https://twitter.com/CloudLilac/status/649026902020227072">September 30, 2015</a></blockquote>
        <blockquote><img src="/img/rave1.jpg"/></blockquote>
        <blockquote class="twitter-tweet" data-conversation="none" lang="en"><p lang="und" dir="ltr">.<a href="https://twitter.com/timeghost_app">@timeghost_app</a> Gah!</p>&mdash; Sven Aas (@SvenAas) <a href="https://twitter.com/SvenAas/status/638807023702933504">September 1, 2015</a></blockquote>
        <blockquote class="twitter-tweet" lang="en"><p lang="und" dir="ltr"><a href="https://twitter.com/timeghost_app">@timeghost_app</a> noooooooooooooooooooooooooo</p>&mdash; Thundercloud Fatale (@CloudLilac) <a href="https://twitter.com/CloudLilac/status/657655046453264385">October 23, 2015</a></blockquote>

        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <ul class="stack-for-small button-group">
                <li><a class="button" href="/">Timeghost</a></li>
                <li><a class="button" href="/b">Birthday</a></li>
                <!--<li><a class="button" href="/s">Specific</a></li>-->
                <li><a class="button" href="/sb">Specific</a></li>
                <li><a class="button" href="/add">Add</a></li>
                <li><a class="button" href="/raves">User Testimonials</a></li>
            </ul>
        </div>
    </div>

    {% include 'parts/footer_tweetbutton.html' %}
</body>
</html>
