{% extends 'base.html' %}

{% block header_block %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script>
    function populate_long_ago() {
      var middle_event_key = $('#middle').find(':selected').val();

      // When a middle is selected, fill the long_ago select with things than it
      //
      $.ajax({
        type: 'POST',
        data: {'middle_event_key': middle_event_key},
        url: '/j',

        success:function(resp) {
          // Clear the old selections in the long_ago listbox.
          //
          $('#long_ago').html('');
          var option = new Option('Then choose a timeghost endpoint', '2015-01-01');
          $('#long_ago').append(option);

          // Get the data
          var data_json= $.parseJSON(resp)
              
          // Populate the select
          $.each(data_json.events, function(i, event) {
            var option = new Option(event.description + ' ' + event.date, event.key);
            $('#long_ago').append(option);
          })
        }
      })
    }
  </script>
{% endblock %}

{% block content_block %}
  <form action="/sb" method="POST">
    <fieldset>
      <legend>Make Your Own Timeghost!</legend>
      <select id="middle" name="middle" onchange="populate_long_ago()">
        <option value="2015-01-01">Select a middle event!</option>
        {% for event in events %}
          <option value="{{event.key.urlsafe()}}">{{event.description}} ({{event.date_ymd}})</option>
        {% endfor %}
      </select>
      <select id="long_ago" name="long_ago" onchange="this.form.submit()">
        <option value="2015-01-01">Then choose a timeghost endpoint</option>
      </select>
    </fieldset>
  </form>
{% endblock %}
