<html>
<head>
    <meta charset="utf-8"/>
    {% include 'parts/setup_header.html' %}

</head>
<body>
    {% include 'parts/navbar.html' %}
    <div class="row">
        <div class="small-12 large-3 columns"><a href="/"><img src="/img/timeghost.png"/></a></div>
        <div class="small-12 large-9 columns">
            <form action="/s" method="POST">
                <fieldset>
                    <legend>Pick an Event to Timeghost</legend>
                    <select name="middle" onchange="this.form.submit()">
                        <option value="2015-01-01">Timeghost an event!</option>
                        {% for event in events %}
                            <option value="{{event.key.urlsafe()}}">{{event.description}} ({{event.date_ymd}})</option>
                        {% endfor %}
                    </select>
                </fieldset>
            </form>
        </div>
    </div>

    {% include 'parts/footer.html' %}
</body>
</html>
