<html>
<head>
    <meta charset="utf-8"/>
    {% include 'parts/setup_header.html' %}
    {% include 'parts/sm_header.html' %}
</head>
<body>
    {% include 'parts/navbar.html' %}

    <div class="row">
        <div class="small-12 large-3 columns"><a href="/"><img src="/img/timeghost.png"/></a></div>
        <div class="small-12 large-9 columns"><h1>{{timeghost.factoid}}</h1></div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <ul class="stack-for-small button-group">
                <li><a class="button" href="/">Timeghost</a></li>
                <li><a class="button" href="/p/{{timeghost.key_url('middle')}}">Similar</a></li>
                <li><a class="button" href="/p/{{timeghost.key_url('middle')}}/{{timeghost.key_url('long_ago')}}">Permalink</a></li>
                <li><a class="button" href="/b">Birthday</a></li>
                <!--<li><a class="button" href="/s">Specific</a></li>-->
                <li><a class="button" href="/sb">Specific</a></li>
                <li><a class="button" href="/add">Add</a></li>
                <li><a class="button" href="/raves">User Testimonials</a></li>
            </ul>
        </div>
    </div>

    <div class="row small-centered">
        <div class="small-12 columns">
            {{timeghost.now.legendstr}}
            <i class="fi-arrow-left"></i>{{timeghost.now_td_years|round}} yrs<i class="fi-arrow-right"></i>
            {{timeghost.middle.legendstr}}
            <i class="fi-arrow-left"></i>{{timeghost.then_td_years|round}} yrs<i class="fi-arrow-right"></i>
            {{timeghost.long_ago.legendstr}}
        </div>
    </div>
    
    {% include 'parts/footer_tweetbutton.html' %}
</body>
</html>
