<p class="panel">
    Site by <a href="http://www.twitter.com/@kesterallen">Kester Allen</a>.
    The word "Timeghost" and the Timeghost image are created by Randall Munroe,
    author of <a href="https://xkcd.com/1393/">XKCD</a>.
    Timeghost tweets at
    <a href="http://www.twitter.com/timeghost_app">
        @timeghost_app<i class="fi-social-twitter"></i>
    </a>.

    <script>window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
                     
        t._e = [];
        t.ready = function(f) {
            t._e.push(f);
        };
                                
        return t;
    }(document, "script", "twitter-wjs"));
    </script>

    <a href="https://twitter.com/intent/tweet"
       class="twitter-share-button"
       data-size="large"
       data-count="none"
       data-text="{{timeghost.factoid}}! #timeghost"
       data-url="http://timeghost-app.appspot.com/p/{{timeghost.key_url('middle')}}/{{timeghost.key_url('long_ago')}}"
    >Tweet this Timeghost</a>
</p>
