<title>Timeghost</title>
<meta name="author" content="Kester Allen @kesterallen"/>
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

<link rel="stylesheet" href="/css/foundation.css"/>
<link rel="stylesheet" href="/foundation-icons/foundation-icons.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script src="/js/vendor/modernizr.js"></script>
<link rel="stylesheet" href="/css/local_style.css"/>
