<!-- Twitter card -->
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:site"        content="@timeghost_app">
<meta name="twitter:creator"     content="@timeghost_app">
<meta name="twitter:url"         content="{{timeghost.permalink_fully_qualified}}"/>
<meta name="twitter:title"       content="Timeghost: Making You Feel Old Since 2015">
<meta name="twitter:description" content="{{timeghost.factoid}} #timeghost">
<meta name="twitter:image"       content="http://timeg.host/img/timeghost_preview.png"/>

<!-- Facebook preview-->
<meta property="og:title"        content="Timeghost: Making You Feel Old Since 2015"/>
<meta property="og:description"  content="{{timeghost.factoid}} #timeghost">
<meta property="og:type"         content="website"/>
<meta property="og:image"        content="http://timeg.host/img/timeghost_preview.png"/>
<meta property="og:site_name"    content="Timeghost Generator"/>
<meta property="og:url"          content="{{timeghost.permalink_fully_qualified}}"/>
<meta property="fb:admins"       content="kesterallen"/>
