<!-- Twitter card -->
<meta name="twitter:card"        content="summary_large_image">
<meta name="twitter:site"        content="@timeghost_app">
<meta name="twitter:creator"     content="@timeghost_app">
<meta name="twitter:url"         content="http://timeghost-app.appspot.com/p/{{timeghost.key_url('middle')}}/{{timeghost.key_url('long_ago')}}"/>
<meta name="twitter:title"       content="Timeghost: Making You Feel Old Since 2015">
<meta name="twitter:description" content="{{timeghost.factoid}} #timeghost">
<meta name="twitter:image"       content="http://timeghost-app.appspot.com/img/timeghost_preview.png"/>

<!-- Facebook preview-->
<meta property="og:title"        content="Timeghost: Making You Feel Old Since 2015"/>
<meta property="og:description"  content="{{timeghost.factoid}} #timeghost">
<meta property="og:type"         content="blog"/>
<meta property="og:image"        content="http://timeghost-app.appspot.com/img/timeghost_preview.png"/>
<meta property="og:site_name"    content="Timeghost Generator"/>
<meta property="og:url"          content="https://timeghost-app.appspot.com{{timeghost.title_page_url}}"/>
<meta property="fb:admins"       content="kesterallen"/>
